.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 140px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    position: sticky;
    top: 70px;
    margin-left: 20px;
    border-radius: 8px;
}

.subtotal__gift{
    display: flex;
    align-items: center;
}

.subtotal__gift > input{
    margin-right: 5px;
}

.subtotal > button{
    width: 100%;
    border-radius: 2px;
    height: 30px;
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111111;
}