.login{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login__up{
    display: flex;
    align-items: center;
}
.login__up > p{
    text-decoration:none;
    color: black;
}
.login__logo{
    margin: 0px auto 10px auto;
    object-fit: contain;
    width: 100px;
}
.login__logo::after{
    content: '.in';
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    bottom: -10px;
}

.login__container{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border:1px solid lightgray;
    padding: 20px;
}

.login__container >h1{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 35px;
}

.login__container > form >h5{
    font-weight: bold;
}

.login__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow:inset 0 0 1px 1px lightgray;
    width: 98%;
    outline-width: 0;
    border-radius: 3px;
    border: 1px solid gray;
}

.login__container > form > input:focus{
    border: 1px solid red;
    box-shadow: 0 0 2px 2px orange;
    background: #fff;
}

.login__container > p{
    margin-top: 15px;
    font-size: 12px;
}

.login__container>form > button{
    width: 100%;
    height: 30px;
    background-color: #f0c14b;
    outline-width: 0;
    border-radius: 2px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #ad8f43 #fac745 #fad16a;
}

.login__container>form> button:hover{
    box-shadow: 0px 0px 3px 3px orange;
}

.login__container > button{
    width: 100%;
    border-radius: 2PX;
    height: 30px;
    border: 1px solid ;
    border-color: darkgray;
}
.login__container>form > button:hover{
    box-shadow: 0px 0px 3px 3px orange;
}